.button-container {
    

    .base-button {
        border-radius: 8px;
        margin-right: 25px;
        transition: all 0.3s ease-in-out;
        padding: 8px 12px;
        margin: 0 4px;
        color: black;
        font-size: 1rem;
        background-color: white;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            transition: all 0.3s ease-in-out;

            cursor: pointer;
        } 
    }
    .about-button {
        &:hover {
            color: #EF6C34;
            background-color: #FEF4F0;
        }
    }

    .meet-team-button{
        &:hover {
        color: #4267BD;
        background-color: #F0F3FA;
        }
    }

    .our-work-button{
        &:hover {
        color: #D9264C;
        background-color: #FEEFF2;
        }
    }

    .services-button{
        &:hover {
        color: #007369;
        background-color: #EFF4F4;
        }
    }

    .work-with-us-button{
        &:hover {
        color: #3A2991;
        background-color: #DBD4FC;
        }
    }
    
}